= render 'header'
#notes
	= link_to "+", new_note_path, id: 'new_note'
	- @notes.each do |note|
		.note
			=link_to note do
				.inner
					%h2= note.title
					.bottom
						%p= time_ago_in_words(note.created_at) + " ago by "
						%p= note.user.username
